data/**

lls-imagenet/logs/**
lls-imagenet/data/**
lls-imagenet/tools/data/**
lls-imagenet/out/**

nes-imagenet/tools/data/**

gaon_imagenet/imagenet_out/**
gaon_imagenet/out/**
gaon_imagenet/tools/data/**

**/*.pyc
**/*.pyo
**/*.npy
