imagenet_data/**
cifar10_data/**

lls-cifar10/models/**

lls-imagenet/logs/**
lls-imagenet/data/**
lls-imagenet/tools/data/**
lls-imagenet/out/**

l2-imagenet/logs/**
l2-imagenet/data/**
l2-imagenet/tools/data/**
l2-imagenet/out/**

nes-imagenet/tools/data/**
bandit-imagenet/tools/data/**

gaon_imagenet/imagenet_out/**
gaon_imagenet/out/**
gaon_imagenet/tools/data/**

gaon_cifar/out/**
gaon_cifar/models/**

**/*.pyc
**/*.pyo
**/*.npy

.idea/**

*.out
*.sh


*BUILD
*WORKSPACE
*autopar.py
*bazel*
*sbatch*
*slurm*
*tensorboard.py
*run_general*
*.test_exp
*__par_main_wrapper__.py
*.swp
